@font-face {
  font-display: block;
  font-family: gilroy;
  src: url(/static/font-files/Gilroy-Extrabold.otf) format("opentype")
}
@font-face {
  font-display: block;
  font-family: roboto;
  src: url(/static/font-files/Roboto-Regular.ttf) format("truetype");
  font-weight: 400
}
@font-face {
  font-display: block;
  font-family: roboto;
  src: url(/static/font-files/Roboto-Medium.ttf) format("truetype");
  font-weight: 500
}
