@font-face {
  font-display: block;
  font-family: gilroy;
  src: url('/font-files/Gilroy-Extrabold.otf') format("opentype")
}
@font-face {
  font-display: block;
  font-family: roboto;
  src: url('/font-files/Roboto-Regular.ttf') format("truetype");
  font-weight: 400
}
@font-face {
  font-display: block;
  font-family: roboto;
  src: url('/font-files/Roboto-Medium.ttf') format("truetype");
  font-weight: 500
}
